{% extends "base.html.twig" %}


{% block title %}
    Gestion clients
{% endblock %}


{% block stylesheets %}
    {# <link rel="stylesheet" href="{{ asset('appCss.css')}}"> #}
    {{ encore_entry_link_tags('appCss') }}
{% endblock %}


{% block body %}
    <h1>Ma page d'accueil</h1>
{% endblock %}


{% block javascripts %}
    {{ encore_entry_script_tags('appJs')}}    
{% endblock %}